{% extends 'navegacion.html' %}

{% block content %}

<h1>Cambiar Pregunta</h1>

{% if not form_respuesta|length %}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <button>
        Guardar
    </button>
</form>
{% else %}
<form method="POST">
    {% csrf_token %}
    {{form_pregunta.as_p}}

    <p>{{respuesta_verdadera}}</p>

    {% for respuesta in form_respuesta %}
        {{respuesta.as_p}}
    {% endfor %}
    
    {% for respuestaa in nueva_respuesta %}
        {{respuestaa.as_p}}
    {% endfor %}

    <button>
        Guardar
    </button>
</form>

<form action={% url 'estudio:nueva_respuesta_cerrada' pregunta.id size %} , method="GET">
    {% csrf_token %}
    <button>
        Crear respuesta cerrada
    </button>
</form>

{% if respuestas|length > 1 %}
    <form action="" , method="POST">
        {% csrf_token %}
        <button>
            Eliminar respuesta cerrada
        </button>
    </form>
{% endif %}

{% endif %}

{% endblock %}