{% extends 'navegacion.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{{error}}

<div class="container-md justify-content-around py-4 px-4">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9">
            
            {% if not form_respuesta|length %}
            <figure class="text-center">
                <blockquote class="blockquote" style="margin-bottom:30px">
                    <p class="h1">Editar Flashcard</p>
                </blockquote>
            </figure>
            <form method="POST">
                {% csrf_token %}
                <label class="form-label requiredField row justify-content-center" for="id_name"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
                <input class="form-control" type="text" name="name" required id="id_name" placeholder="Pregunta" value="{{form.name.value}}" maxlength="30">
                <label class="form-label requiredField row justify-content-center" for="id_respuesta"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
                <textarea class="form-control" type="a" name="respuesta" required id="id_respuesta" placeholder="Respuesta" maxlength="200">{{form.respuesta.value}}</textarea>
                <input type="hidden" name="apropiacion" value="{{form.apropiacion.value}}" id="id_apropiacion">
                <input type="hidden" name="ultima_vez" value="{{form.ultima_vez.value|date:'Y-m-d H:i:s'}}" id="id_ultima_vez">
                <input type="hidden" name="initial-ultima_vez" value="{{form.ultima_vez.value|date:'Y-m-d H:i:s'}}" id="initial-id_ultima_vez">
                <input type="hidden" name="seccion" value="{{form.seccion.value}}" id="id_seccion">

                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-dark" style="width: 120px; margin-top: 20px">Guardar Cambios</button>
                </div>
            </form>  
            {% else %}
            <figure class="text-center">
                <blockquote class="blockquote" style="margin-bottom:30px">
                    <p class="h1">Editar Pregunta Cerrada</p>
                </blockquote>
            </figure>
            <form method="POST">
                {% csrf_token %}
                <label class="form-label requiredField row justify-content-center" for="id_name"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
                <input class="form-control" type="text" name="name"   required="" id="id_name" placeholder="Pregunta" value="{{form_pregunta.name.value}}" maxlength="30">
                <input type="hidden" name="respuesta" id="id_respuesta">
                <input type="hidden" name="apropiacion" value="{{form_pregunta.apropiacion.value}}" id="id_apropiacion">
                <input type="hidden" name="ultima_vez" value="{{form_pregunta.ultima_vez.value|date:'Y-m-d H:i:s'}}" id="id_ultima_vez">
                <input type="hidden" name="initial-ultima_vez" value="{{form_pregunta.ultima_vez.value|date:'Y-m-d H:i:s'}}" id="initial-id_ultima_vez">
                <input type="hidden" name="seccion" value="{{form_pregunta.seccion.value}}" id="id_seccion">

                <label class="form-label requiredField row justify-content-center" for="id_respuesta_verdadera"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
                <input class="form-control" type="text" name="respuesta_verdadera"  maxlength="70" required="" id="id_respuesta_verdadera" placeholder="Respuesta Verdadera" value="{{respuesta_verdadera.respuesta_verdadera.value}}">
                
                {% for respuesta in form_respuesta %}
                <div class="eliminar">
                    {{respuesta}}
                    <input type="button" class="btn-eliminar" onclick="eliminaPregunta(this.parentNode)" value="Eliminar">
                </div>
                {% endfor %}
                {% for respuesta_cerrad in nueva_respuesta %}
                {{respuesta_cerrad.as_p}}
                {% endfor %}
                <div class="row justify-content-center">
                <button type="submit" class="btn btn-dark" style="width: 120px; margin-top: 20px">
                    Guardar Cambios
                </button>
            </form>
        </div>
            <form action={% url 'estudio:nueva_respuesta_cerrada' pregunta.id size %} , method="GET">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-info" style="width: 120px; margin-top: 20px">
                        Crear respuesta cerrada
                    </button>
            </form>
            {% if nueva_respuesta|length > 0 %}
            <form action={% url 'estudio:eliminar_nueva_respuesta_cerrada' pregunta.id eliminar %} , method="GET">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-danger" style="width: 120px; margin-top: 20px">
                        Eliminar respuesta cerrada
                    </button>
                </div>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    var d=document.getElementsByClassName('eliminar');
    var b=document.getElementsByClassName('btn-eliminar');
    for(let i=0;i<d.length;i++){
        d[i].setAttribute('id', 'r'+i);
        b[i].setAttribute('id', 'btn'+i);
    }


    function eliminaPregunta(padre){
        let nObjetos = document.getElementsByClassName('eliminar');
        if(nObjetos.length<2){
            padre.childNodes[5].remove()
        }else{
            padre.remove()
        }
        
        
        // if(nObjetos.length<2){

        // }
    }

</script>

{% endblock %}