{% extends 'navegacion.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container-md justify-content-around py-4 px-4">
    <form method = 'POST'>
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">
                <figure class="text-center">
                    <blockquote class="blockquote" style="margin-bottom:30px">
                        <p class="h1">Crear Pregunta Cerrada</p>
                    </blockquote>
                </figure>
                <label class="form-label requiredField row justify-content-center" for="id_name"><span class="form-text col-9" style="color: red:">{{error}}</span></label>
                <input class="form-control" type="text" name="name" required id=id_name placeholder="Pregunta">
                <label class="form-label requiredField row justify-content-center" for="id_respuesta_verdadera"><span class="form-text col-9" style="color: red">{{error}}</span></label>
                <input class="form-control" type="text" name="respuesta_verdadera" required id="id_respuesta_verdadera" placeholder="Respuesta">
                <label class="form-label requiredField row justify-content-center" for="id_respuesta_cerrada"><span class="form-text col-9" style="color: red">{{error}}</span></label>
                <input class="form-control" type="text" name="respuesta_cerrada" required id="id_respuesta_cerrada" placeholder="Respuesta Cerrada">
                {% for respuesta in respuestas %}
                    <p>{{respuesta}}</p>
                        {% endfor %}
                        <div class="row justify-content-center">
                                <button type="submit" class="btn btn-dark" style="width: 120px; margin-top: 20px">
                                    Crear
                                </button>
                            </div>
                        </form>
                        <form class="d-inline" action={% url 'estudio:crearRespuestaCerrada' seccion %} , method="POST">
                            {% csrf_token %}
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-info" style="width: 120px; margin-top: 20px">
                                    Añadir respuesta cerrada
                                </button>
                            </div>
                        </form>
                        {% if respuestas|length > 0 %}
                        <form class="d-inline" action={% url 'estudio:eliminarRespuestaCerrada' seccion %} , method="POST">
                            {% csrf_token %}
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-danger" style="width: 120px; margin-top: 20px">
                                    Eliminar respuesta cerrada
                                </button>
                            </div>
                        </form>
                        {% endif %}
                </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

{% endblock %}