{% extends 'navegacion.html' %}

{% block content %}

<h1>REPASO</h1>
{{pregunta}}

{% if respuestas_cerradas|length %}
    {% for respuesta_c in respuestas_cerradas %}
        <p>{{respuesta_c}}</p>
    {% endfor %}
{% endif %}

{% if request.method == 'GET' %}
<form method="POST">
    {% csrf_token %}
    <button>
        Mostar respuesta
    </button>
</form>

{% else %}

<strong><p>{{respuesta}}</p></strong>
<strong><p>{{verdadera}}</p></strong>

<form action={% url 'estudio:apropiacionPregunta' seccion.id pregunta.id 1 %}>
    <button>
        Otra vez
    </button>
</form>

<form action={% url 'estudio:apropiacionPregunta' seccion.id pregunta.id 2 %}>
    <button>
        Dificil
    </button>
</form>

<form action={% url 'estudio:apropiacionPregunta' seccion.id pregunta.id 3 %}>
    <button>
        Bien
    </button>
</form>

<form action={% url 'estudio:apropiacionPregunta' seccion.id pregunta.id 4 %}>
    <button>
        Facil
    </button>
</form>

{% endif %}

{% endblock %}