{% extends 'navegacion.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-md justify-content-around py-4 px-4">
    <p class="h1 text-center">Crear Materia</p>
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ form.name|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.profesor|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9 pb-2">
                <label for="id_profesor_email" class="form-label requiredField">Profesor Email *<span class="form-text col-9" style="color: red;">{{error}}</span></label>
                <input type="text" name="profesor_email" placeholder="Nombre de la materia" class="form-control textinput textInput" maxlength="30" required="" id="id_name">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9 pb-2">
                <label for="id_aula" class="form-label">Aula</label>
                <input type="text" name="aula" maxlength="100" class="textinput textInput form-control" placeholder="Ubicación de tu aula/link de aula virtual" id="id_aula">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9 pb-2">
                <label for="id_imagen" class="form-label">Ingresa una imagen para tu materia</label>
                <input type="file" name="imagen" class="form-control" accept="image/*" id="id_imagen">
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">
                <label for="id_documento" class="form-label">Ingresa tus documentos</label>
                <input type="file" name="documento" class="form-control" accept=".doc,.pdf" id="id_documento">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.hora|as_crispy_field }}</div>
        </div>
        <div class="container justify-content-center pb-2">
            <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 justify-content-center">
                <div class="row" style="position: relative; left: 25px;">
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_0">Lunes</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_0" name="horario" value="Lunes" >
                    </div>
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_1">Martes</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_1" name="horario" value="Martes">
                    </div>
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_2">Miercoles</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_2" name="horario" value="Miercoles">
                    </div>
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_3">Jueves</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_3" name="horario" value="Jueves">
                    </div>
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_4">Viernes</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_4" name="horario" value="Viernes">
                    </div>
                    <div class="form-check col-xl-4 col-sm-6 col-6">
                        <label class="form-check-label" for="id_horario_5">Sabado</label>
                        <input class="form-check-input" type="checkbox" id="id_horario_5" name="horario" value="Sabado">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark" style="width: 120px;">Crear</button>
        </div>
    </form>
</div>

{% endblock %}