{% extends 'navegacion.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1>ESTE ES EL HOME</h1>
<h2>¡Bienvenido, {{user.username}} esperamos que tu sesión de hoy sea bastante productiva!</h2>

{% else %}
<!---Esto es re cutre pero bn, es solo un esbozo-->
<div>
    <figure>
        <img src="http://drive.google.com/uc?export=view&id=1JHqZLktzDHg43AZimM8fORNtDF4wmv6j" alt="Imagen acerca del estudio" width="1350" height="470">
    </figure>

    <h1>EL ESTUDIO EN TUS MANOS</h1>
    
    <form action="/register/">
        <button>
            Empieza gratis
        </button>
    </form>
</div>


<h2>"Una web para potencializar</h2>
<h2>el estudio autónomo"</h2>

<div>
    <h3>Repasa usando la</h3>
    <h3>repeticion espaciada</h3> 
    <figure>
        <img src="http://drive.google.com/uc?export=view&id=1mHS4Dqz4Er-6x9-EKQ_3hU4_eCgQ-rfG" alt="Reloj">
    </figure>
</div>

<div>
    <h3>Organiza tus tareas</h3>
    <figure>
        <img src="http://drive.google.com/uc?export=view&id=1ZSDk-GfAMZwNdhbJkjb0zBwbP9bc34An" alt="Tareas">
    </figure>
</div>

<div>
    <h3>Toma pausa con el</h3>
    <h3>Pomodoro</h3>
    <figure>
        <img src="http://drive.google.com/uc?export=view&id=1B8SSB4pDVvKUvc0bwz2-w96-wyztSlAp" alt="Pausa">
    </figure>
</div>

{% endif %}

{% endblock %}