{% extends 'navegacion.html' %}

{% block content %}

<h1> Materia en detalle </h1>
<p> {{materia.name}} </p>
<p> {{materia.hora}} </p>
<p> {{materia.profesor}} </p>
<p> {{materia.profesor_email}} </p>

<form action = {% url 'crearSeccion' materia.id %}>
    <button>
        Crear Tema
    </button>
</form>

<form action = {% url 'cambiarMateria' materia.id %}>
    <button>
        Actualizar
    </button>
</form>

<form action = {% url 'eliminarMateria' materia.id %} , method="POST">
    {% csrf_token %}
    <button>
        Eliminar
    </button>
</form>
<div>
    <a href={% url 'crearSeccion' materia.id %}>
        {% for seccion in seccions %} 

    <div>
        <a href={% url 'seccion_detail' seccion.id %}>
            {{seccion.name}}
        </a>
    </div>

</div>


{% endfor %}

{% endblock %}