{% extends 'navegacion.html' %}
{% block content %}
<div class="container-md justify-content-around py-4 px-4">
    <p class="h1">Tareas</p>
    <form action={% url 'crearTarea' %}>
        <button class="btn btn-dark my-2">
            Crear nueva tarea
        </button>
    </form>
    <hr>
    <div class="card my-2">
        <div class="card-header text-center">⚡ Prioridad Alta ⚡</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Concluida</th>  
                        <th scope="col">Tarea</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Fecha de entrega</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea_a in tareas_a %}
                        <tr>
                            <td class="col-2">
                                <form action={% url 'eliminarTarea' tarea_a.id %} , method="POST">
                                    <input type="checkbox" class="form-check-input"> 
                                </form>
                            </td>
                            <td class="col-3">
                                <p>{{tarea_a.name}}</p>
                            </td>
                            <td class="col-3">
                                <p>{{tarea_a.materia}}</p>
                            </td>
                            <td class="col-2">
                                <p>{{tarea_a.fecha|timeuntil}}</p>
                            </td>
                            <td class="col-1">
                                <a href={% url 'actualizarTarea' tarea_a.id %}>Editar</a>
                            </td>
                            <td class="col-1">
                                <form action={% url 'eliminarTarea' tarea_a.id %} , method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-link" style="padding: 0;">
                                        Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header text-center">🔋 Prioridad Media 🔋</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Concluida</th>  
                        <th scope="col">Tarea</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Fecha de entrega</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea_m in tareas_m %}
                        <tr>
                            <td class="col-2">
                                <form action={% url 'eliminarTarea' tarea_m.id %} , method="POST">
                                    <input type="checkbox" class="form-check-input"> 
                                </form>
                            </td>
                            <td class="col-3">
                                <p>{{tarea_m.name}}</p>
                            </td>
                            <td class="col-3">
                                <p>{{tarea_m.materia}}</p>
                            </td>
                            <td class="col-2">
                                <p>{{tarea_m.fecha|timeuntil}}</p>
                            </td>
                            <td class="col-1">
                                <a href={% url 'actualizarTarea' tarea_m.id %}>Editar</a>
                            </td>
                            <td class="col-1">
                                <form action={% url 'eliminarTarea' tarea_m.id %} , method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-link link" style="padding: 0;">
                                        Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header text-center">📉 Prioridad Baja 📉</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Concluida</th>  
                        <th scope="col">Tarea</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Fecha de entrega</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea_b in tareas_b %}
                        <tr>
                            <td class="col-2">
                               <input type="checkbox" class="form-check-input"> 
                            </td>
                            <td class="col-3">
                                <p>{{tarea_b.name}}</p>
                            </td>
                            <td class="col-3">
                                <p>{{tarea_b.materia}}</p>
                            </td>
                            <td class="col-2">
                                <p>{{tarea_b.fecha|timeuntil}}</p>
                            </td>
                            <td class="col-1">
                                <a href={% url 'actualizarTarea' tarea_b.id %}>Editar</a>
                            </td>
                            <td class="col-1">
                                <form action={% url 'eliminarTarea' tarea_b.id %} , method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-link link" style="padding: 0;">
                                        Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}