{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>First-Step</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6f3103b13c.js" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark" style="background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple)">
            <div class="container-fluid mx-lg-5">
                <a class="navbar-brand" href="/" style="font-family: 'Inter Tight', sans-serif; font-size: 1.2rem;">
                    <img class="d-inline-block align-text-top" src="https://cdn-icons-png.flaticon.com/512/3145/3145765.png" width="40px" alt="first step">
                    First-Step
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}      
                        <li class="nav-item">
                            <a class="nav-link" href="/materias">Materias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/estudio/pomodoro">Pomodoro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tareas">Tareas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">Calendar</a>
                        </li>
                        <h6 id = "notifi"></h6>
                        <script src = "{% static 'index.js' %}"></script>
                        
                        {% endif %}        
                    </ul>
                    <hr class="d-md-none text-white-50">
                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link active pt-3" href="/perfil">Mi Perfil</a>
                        </li>
                        <li class="nav-itemcol-6 col-md-auto">
                            <a class="nav-link pt-3" href="/logout">Salir</a>
                        </li>
                        {% else %}
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link pt-3" href="/formlogin">Ingresa</a>
                        </li>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link pt-3" href="/register">Regístrate</a>
                        </li>
                        {% endif %}
                        <div class="d-none vr d-sm-block bg-light mx-2"></div>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link" href="https://github.com/NicolasHinestroza/First-Step">
                                <img src="https://cdn-icons-png.flaticon.com/512/2504/2504911.png" alt="GitHub" width="50px">
                                <small class="d-md-none ms-2">GitHub</small>
                            </a>
                        </li>
                        <li class="nav-item col-6 col-md-auto">
                            <a class="nav-link pt-3" href="https://github.com/NicolasHinestroza/First-Step/blob/main/README.md"><small>About us</small></a>
                        </li>
                    </ul>
                
                </div>
            </div>
        </nav>
        {% block content %}
        
        {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>        
    </body>
</html>