<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav>
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="/perfil">Mi Perfil</a>
        </li>
        <li>
            <a href="/flashcard">Flashcard</a>
        </li>
        <li>
            <a href="/logout">Salir</a>
        </li>
        {% else %}
        <li>
            <a href="/formlogin">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        {% endif %}        
    </ul>
</nav>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>