{% extends 'navegacion.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-md justify-content-center py-4 px-4">
    <span class="form-text col-9" style="color: red;">{{error}}</span>
    <form method="POST" class="justify-content-center">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ form.username|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ form.email|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ cambiar_contrasena.old_password|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ cambiar_contrasena.new_password1|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ cambiar_contrasena.new_password2|as_crispy_field }}</div>
    </div>
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-dark" style="width: 120px; margin-top: 20px">
            Guardar
        </button>
    </div>
    </form>
</div>



{% endblock %}