{% extends 'navegacion.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container-md justify-content-around py-4 px-4">
    <p class="h1 text-decoration-underline text-center">Register</p>
    <form method = "POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9" >{{ form.username|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.first_name|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.email|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.password1|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-7 col-9">{{ form.password2|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark" style="width: 120px;">Crear</button>
        </div>
        {{error}}
    </form>
</div>

{% endblock %}