{% extends 'ingreso.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-md justify-content-around py-4 px-4" style="background-color: white;">
    <div class="row justify-content-center">
        <p class="h6 py-2 justify-content-center col-9">¡Registratate para mejorar tus habitos de estudio!</p>
    </div>
    <form method = "POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-9" >{{ form.username|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">{{ form.first_name|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">{{ form.email|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">{{ form.password1|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">{{ form.password2|as_crispy_field }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-9">{{ form.captcha}}</div>
        </div>
        <div class="row justify-content-center">
            <div class="form-text col-9">
                <p class="text-center" style="color: red;">{{error}}</p>
            </div>
        </div>
        <div class="row justify-content-center pb-2">
            <button type="submit" class="btn btn-dark" style="width: 13rem;">Registarse</button>
        </div>
        <div class="text-center">
            <a class="text-decoration-none" href="/formlogin">¿Ya tienes cuenta?</a> <!--FRONTEND!!!-->
        </div>
    </form>
</div>

{% endblock %}
