{% extends 'ingreso.html' %}
{% block content %}
<div class="container-md justify-content-around pb-4 px-4" style="background-color: white;">
    <div class="row justify-content-center">
        <h1 class="h1 py-2 justify-content-center col-9">Reestablecer Contraseña</h1>
    </div>
        {{ error }}
        <form method = 'POST'>
            {% csrf_token %}
            {{ form }}
            <!--
            <div style="text-align: left">
                <ul class="errorlist" style="color:red">
                    <h6>NO te dejará restablecer tu contraseña SI:</h6>
                    <li>Tiene menos de 8 carácteres.</li>
                    <li>Es demasiado común.</li><li>Es completamente numérica.</li><li>Las contraseñas no coinciden.</li><li>El enlace expiró o ya lo utilizó.</li>
                </ul>
            <div>
            <label class="form-label requiredField row justify-content-center" for="id_new_password1"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="Nueva Contraseña"></input>
            <label class="form-label requiredField row justify-content-center" for="id_new_password2"><span class="form-text col-9" style="color: red;">{{error}}</span></label>
            
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirma tu Nueva Contraseña"></input>
            <div class="row justify-content-center">
            <input type = "Submit" name = "Update Password" class="btn btn-dark" style="width: 120px; margin-top: 40px"></input>
            </div>
            -->
            <button>
                Enviar
            </button>
        </form>
    </div>
</div>

    
{% endblock %}