{% extends 'ingreso.html' %}
{% block content %}
<h1>{{message}}</h1>
<div class="container-md justify-content-around pb-4 px-4" style="background-color: white;">
    <div class="row justify-content-center">
        <h4 class="h4 py-2 justify-content-center col-9">TU CONTRASEÑA HA SIDO RESTAURADA EXITOSAMENTE</h4>
        <div style="margin-top:20px">
            <h6>Ahora puedes iniciar sesión con tu nueva contraseña</h6>
        </div>
    </div> 
    <div style="margin-top:15px">
        <form method="get" action="/formlogin">
            <div class="row justify-content-center">
            <button type="submit" class="btn btn-dark" style="width: 120px; margin-top: 40px">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}
