{% extends 'ingreso.html' %}
{% block content %}
<h1>{{message}}</h1>
<div class="container-md justify-content-around pb-4 px-4" style="background-color: white;">
    <div class="row justify-content-center">
        <h1 class="h1 py-2 justify-content-center col-9">Reestablecer Contraseña</h1>
        <div style="margin-top:20px">
            <h6>Si ya te habías registrado previamente, a tu correo llegará un link para cambiar tu contraseña.</h6>
        </div>
    </div> 
    <div style="margin-top:50px">
        <form method = 'POST'>
            {% csrf_token %}
            <!--
            <div class="row justify-content-center pb-1">
                <div class="col-9">
                    <label class="form-label requiredField row justify-content-center" for="id_email">Escribe tu correo electrónico registrado<span class="form-text col-9" style="color: red;">{{error}}</span></label>
                    <input class="form-control" type="email" name="email"  maxlength="254" required id="id_email" placeholder="example@firstep.com"></input>
                </div>
            </div>
            <div class="row justify-content-center">
                <input type = "Submit" name = "Send Email" class="btn btn-dark" style="width: 120px; margin-top: 40px"></input>
            </div>
            -->
            {{form.as_p}}
            <button>
                Enviar
            </button>
        </form>
        <hr>
        <a class="row justify-content-center" href="/formlogin">¿Recuerdas tu contraseña?</a>
    </div>
</div>
{% endblock %}


