<h1>{{seccion.name}}</h1>
<div>
<form action={% url 'cambiarSeccion' seccion.id %}>
    <button>Actualizar</button>
</form>
</div>

<div>
    <form action={% url 'eliminarSeccion' seccion.id %} method="POST">
        {% csrf_token %}
        <button>Eliminar</button>
    </form>
</div>

<form action = {% url 'estudio:crearFlashcard' seccion.id %}>
    <button>
        Crear Flashcard
    </button>
</form>

{% for pregunta in preguntas %}
<a href = {% url 'estudio:pregunta_detail' pregunta.id %}>
    <p>{{pregunta.name}}</p>
</a>


{% endfor %}