<h1>Archivos</h1>

<form action={% url 'agregarArchivos' materia_id %} method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{agregar}}
    <button>
        Guardar
    </button>
</form>

<ul>
    {% for archivo in archivos %}
        <li>
            <a href={{archivo.documento.url}}>{{archivo.filename}}</a>
            <form action={% url 'eliminarArchivo' archivo.id %} method="POST">
                {% csrf_token %}
                <button>
                    Eliminar
                </button>
            </form>
        </li>
    {% endfor %}
</ul>